.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

#team-container, #players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.team-card, .player-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 250px;
    text-align: center;
}

.team-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 15px;
    padding: 10px;
}

#show-team, #show-players {
    margin-top: 10px;
}